h1 {
  font-family: verdana;
  text-align: center;
}

img { 
  width: 25%;
  height: 30%;
  border: 5px solid gray;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

body {
  background-color: tan;
}

.box {
  width: 95%;
  background-color: antiquewhite;
  border: 10px solid burlywood;
  margin: 10px;
  padding: 10px;
  font-family: verdana;
}

.sidebar {
  width: 61%;
  background-color: aliceblue;
  border: 10px solid antiquewhite;
  margin: 10px;
  padding: 10px;
  font-family: verdana;
  float: left;
}

.sidebar2 {
  width: 30%;
  background-color: aliceblue;
  border: 10px solid antiquewhite;
  margin: 10px;
  padding: 10px;
  font-family: verdana;
  float: left;
}

.sidebar3 {
  width: 30%;
  background-color: aliceblue;
  border: 10px solid antiquewhite;
  margin: 10px;
  padding: 10px;
  font-family: verdana;
  float: left;

}

.description {
  text-align: center;
  font-family: verdana;
  font-style: italic;
}
