h1 {
  font: arial;
  text-align: center;
}

h2 {

}

h3 { 

}

img {
  float: right;
  width: 20%;
  height: 20%;
}

body {
  background-color: antiquewhite;
}

.projects {
  margin: 20px;
  border: 50px black;
  padding: 10px;
  background-color: darkkhaki;
  width: 20%;
  border-width: 50px;
}